@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Tiro+Bangla|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Niramit|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Cairo|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Jost|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Saira+Condensed|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Roboto:400,700");
@page {
  margin: 0cm;
}
h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

body {
  page-break-after: always;
}

@media print {
  .pagebreak {
    page-break-before: always;
    height: 1px;
  } /* page-break-after works, as well */
}
:root {
  --colorblue: #2a2e33;
  --colorTextWhite: #edf1f4;
  --colorgrey: #e2e0df;
  --colorgold: #6f6116;
  --colorwhite: #eeecea;
}

body {
  background-color: grey;
  background-color: #eeecea;
  font-family: "Fira Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Tiro Bangla", sans-serif;
  font-family: "Niramit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Cairo", sans-serif;
  font-family: "Cabin", sans-serif;
  font-family: "Jost", sans-serif;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Saira Condensed", sans-serif;
}

h1, h2, h3, h4, h5, body, html, ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 320px minmax(0, 1fr);
}

.heading {
  position: relative;
  text-align: center;
  color: var(--colorTextWhite);
}
.heading .skew_box {
  background-color: var(--colorblue);
  -webkit-clip-path: polygon(102% 0%, 0 74%, 100% 100%);
          clip-path: polygon(102% 0%, 0 74%, 100% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 49%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 49%);
  width: 100%;
  height: 120%;
  position: absolute;
}
.heading .name {
  position: relative;
  z-index: 10;
  padding: 20px 0;
}

.bg-grow {
  background-color: var(--colorgrey);
  padding-top: 100px;
  margin-top: -100px;
  margin-left: -100vh;
  padding-left: 100vh;
}

.education p {
  color: var(--colorgold);
}

.secondary_list {
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}
.secondary_list::after {
  right: 0;
  top: 6px;
  width: 3px;
  height: calc(100% - 6px - 8px);
  background: #85857e;
  content: "";
  position: absolute;
  background: #85857e;
}

.face ul {
  text-align: right;
}
.face img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid var(--colorblue);
}

.title1 {
  background-color: rgba(63, 63, 39, 0.8);
  background-color: #2a2e33;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 24px;
  color: #edf1f4;
  background: linear-gradient(90deg, rgba(42, 46, 51, 0) 0%, rgb(42, 46, 51) 72%, rgb(42, 46, 51) 100%);
}

.title2 {
  font-size: 12px;
  font-size: 14px;
  font-style: italic;
  color: #f5ef9c;
  color: #6f6116;
}
.title1 li, .title2 li {
  font-size: 17px;
  font-weight: normal;
}

.education h3 {
  font-size: 28px;
}

.title_big {
  border-top: 2px solid var(--colorgold);
  border-bottom: 2px solid var(--colorgold);
  letter-spacing: 4px;
}

.work {
  margin-left: 24px;
}
.work .title_big {
  margin: 18px 0;
  color: var(--colorgold);
  color: var(--colorTextWhite);
  color: var(--colorblue);
  color: black;
  text-align: left;
  border: 0;
}
.work .job {
  border-top: 2px solid black;
  border-radius: 3px;
  margin-top: 0px;
  margin-bottom: 32px;
}
.work .job .job_item_heading {
  page-break-inside: avoid;
}
.work .job h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
}
.work .job .date {
  color: unset;
  color: var(--colorgold);
  font-size: 15px;
  font-style: italic;
}
.work .job .eyebrow_wrap {
  display: flex;
  justify-content: space-between;
}
.work .job .eyebrow_wrap .company {
  line-height: 30px;
  padding-bottom: 4px;
}
.work .job li:before {
  content: "x";
  content: "●";
  content: "◾";
  content: "◦";
  content: "▪";
  content: "◽";
  content: "◇";
  content: "◆";
  margin-right: 12px;
  margin-left: 16px;
}
.work .job li {
  text-indent: -53px;
  margin-left: 59px;
}
.work .job > ul {
  border-top: 2px solid black;
}
.work .job > ul ul li {
  font-size: 20px;
}
.work .job > ul ul li:before {
  content: "x";
  content: "●";
  content: "◾";
  content: "◦";
  content: "▪";
  content: "◽";
  content: "◇";
}

.list_skills {
  text-align: right;
  padding-right: 16px;
}
.list_skills p, .list_skills li {
  margin: 0;
  font-size: 18px;
}
.list_skills ul, .list_skills li {
  position: relative;
}
.list_skills .sub_skill {
  position: relative;
  margin: 8px 0px;
  page-break-after: avoid;
  page-break-inside: avoid;
  color: #fefff9;
  background-color: rgba(63, 63, 39, 0.8);
  background-color: transparent;
  border-radius: 6px;
  margin-right: -3px;
  color: #2a2e33;
  color: black;
}
.list_skills .sub_skill > * {
  padding-right: 10px;
}

.h_divider1 {
  border-bottom: 2px solid black;
  margin: 0 100px;
}/*# sourceMappingURL=style.css.map */