
// @import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Tiro+Bangla|Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Niramit|Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Poppins|Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Cairo|Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Jost|Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Saira+Condensed|Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Roboto:400,700');

@page {
    margin: 0cm;
    // size: A4;
    // size: letter;
  }

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }
  body {
    page-break-after:always;
  }
.secondary_listzzz {
	break-inside: avoid;
}

@media print {
    .pagebreak { 
        page-break-before: always; 
        height: 1px;
    } /* page-break-after works, as well */
    .sub_skill {
        // page-break-before: always; 
        page-break-inside: avoid;
    }
}
:root {
    --colorblue: #2a2e33;
    --colorTextWhite: #edf1f4;
    --colorgrey: #e2e0df;
    --colorgold: #6f6116;
  }
.llm_hidden {
    color: #ffffff;
} 
body {
    background-color: grey;
    background-color: #eeecea;
    background-color: #ffffff;
    font-family: 'Cabin',  sans-serif; // ugly
    font-family: 'Poppins',  sans-serif; // not good
    font-family: 'Fira Sans Condensed',  sans-serif; // i dont like
    font-family: 'Fira Sans',  sans-serif;  // big
    font-family: 'Oswald', sans-serif; // too crazy
    font-family: 'Tiro Bangla', sans-serif; // to boring
    font-family: 'Niramit',  sans-serif;
    font-family: 'Jost',  sans-serif;
    font-family: 'Cairo',  sans-serif;
    font-family: 'Saira Condensed',  sans-serif;
    font-family: 'Barlow Semi Condensed',  sans-serif;

    // Barlow Semi Condensed > Saira Condensed >  Jost > Niramit >  Fira Sans Condensed      > Poppins (too big) > Fira > Cabin 
}
body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
  }
h1,h2,h3,h4,h5,body,html,ul,p {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
/// 

.container {
    width: 1200px;
    margin: 0 auto;
}
    


.heading {
    position: relative;
    text-align: center;
    // color: var(--colorTextWhite);
    color: #ffffff;
    .mini-wrap {
        position: relative;
        h1 {
            font-size: 50px;
        }
        ul {
            // position: absolute;
            top: 24px;
            right: 10px;
            color: var(--colorTextWhite);
            color: white;
            z-index: 11;
            line-height: 22px;
            font-size: 20px;
            margin-top: -8px;
        }
        .name {
            position: relative;
            z-index: 10;
            // padding: 20px 0;
            padding-bottom: 8px;
            padding-top: 8px;
            // background: linear-gradient(-4deg, black 51%, white 0%);
        }
    }
    .skew_box {
        position: absolute;
        background-color: var(--colorblue);
        clip-path: polygon(102% 0%, 0 74%, 100% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 58%);
        width: 100%;
        height: 120%;
        height: 140%;
    }
}

.bg-grow {

    // background-color: var(--colorgrey);
    background-color: #eeecea;
    padding-top: 112px;
    margin-top: -100px;
    margin-left: -100vh;
    padding-left: 100vh;

}

@media (max-width: 599px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 600px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1200px;
    }
}
@media print {
    .container{
        width: 1200px;
    }
}

// Lazy Desktop
// Lazy Desktop
// Lazy Desktop
@media (min-width: 600px) {
    .heading .mini-wrap {
        ul {
            position: absolute;
        }
    }
    .row {
        display: grid;
        grid-template-columns: 280px minmax(0, 1fr);
    }
} 

// MOBILE
// MOBILE
// MOBILE
@media (max-width: 599px) {
    .row {
        width: 100%;
    }
    .bg-grow {
        padding-top: 145px;
    }
    .heading {
        .mini-wrap {
            ul {
                position: relative;
                text-align: right;
            }
        }
        .skew_box {
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 78%);
        }
    }
} 



.secondary_list  {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    &::after {
        right: 0;
        top: 6px;
        width: 3px;
        height: calc(100% - 6px - 8px);
        background: #85857e;

        content: "";    
        position: absolute;
        background: #85857e;
    }
}

.title1 {
    background-color: #3f3f27cc;
    background-color: #2a2e33;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 24px;
    color: #edf1f4;
    background: linear-gradient(90deg, rgba(42,46,51,0) 0%, rgba(42,46,51,1) 72%, rgba(42,46,51,1) 100%);
}

.title2 {
    font-size: 12px;
    font-size: 16px;
    padding-top: 3px;
    font-weight: 600;
    font-style: italic;
    color: #f5ef9c;
    // color: #6f6116;
    color: #6f6116;
    color: #000000;
}
.title1 li, .title2 li {
    font-size: 17px;
    font-weight: normal;
}
.title_big {
    letter-spacing: 4px;
    

}
.work {
    margin-left: 18px;

    .title_big {
        margin-bottom: 12px;
        margin-top: 6px;
        // padding-left: 8px;
        color: var(--colorgold);
        color: var(--colorTextWhite);
        color: var(--colorblue);
        color: black;
        text-align: left;
        border: 0;
        font-size: 54px;
        font-weight: bold;
        // line-height: 70px;
        // font-size: 70px;
    
        // background: linear-gradient(90deg, rgba(42,46,51,1) 0%, rgba(42,46,51,1) 31%, rgba(42,46,51,0) 100%);
    }
    .job {
        margin-top: 0px;
        margin-bottom: 32px;
        margin-right: 12px;

        .job_item_heading {
            margin-left: -6px;
            padding-left: 10px;

            padding-top: 4px;
            padding-bottom: 4px;
            page-break-inside: avoid;
            border-top: 2px solid #00000057;
            border-bottom: 2px solid #00000057;
            letter-spacing: 1px;
            margin-bottom: 4px;

            background: rgb(69,88,112);
            background: linear-gradient(128deg, rgba(69,88,112,0.07305908203125) 0%, rgba(71,91,114,0.23552406802564774) 73%, rgba(67,85,106,0.3867845722273284) 100%);

            // border-radius: 3px;
            .company {
                font-size: 18px;
                line-height: 18px;
            }
            h3 {
                font-weight: 800;
                font-size: 32px;
                line-height: 38px;
                letter-spacing: 1px;
    
            }
        }
        
        
        .date {
            // color:var(--colorgold);
            color: black;
            font-size: 18px;
            line-height: 19px;
            // font-style: italic;
        }
        .eyebrow_wrap {
            display: flex;
            justify-content: space-between;
            .company {
                line-height: 30px;
                padding-bottom: 4px;
                line-height: 18px;
            }
        }

        li {
            $margin-bullet: 8px;
            $margin-left-li: 24px;
            $text-indent: calc(-#{$margin-bullet} - 18px);

            margin-bottom: 1px;
            // text-indent: -35px;
            // text-indent: $text-indent;
            // margin-left: 26px;
            margin-left: 14px;
            padding-left: 8px;
            font-size: 23px;
            list-style-type: "◆";
            &::marker  {
                font-size: 14px;
            }
            // &:before {
            //     content: "x";
            //     content: "●";
            //     content: "◾"; // big black
            //     content: "◦";
            //     content: "▪"; // small white
            //     content: "◽";
            //     content: "◇";
            //     content: "◆";
            //     font-size: 15px;
            //     margin-right: $margin-bullet;
            // }

        }
        > ul ul li {

            font-size: 20px;

            &:before {
                content: "x";
                content: "●";
                content: "◾"; // big black
                content: "◦";
                content: "▪"; // small white
                content: "◽";
                content: "◇";
                // content: "◆";
              }
          
        }
    }
}

.projects {
    .job {
        margin-bottom: 16px;
        &:first-of-type .job_item_heading {
            // border-top: 2px solid black;
        }
        .job_item_heading h3 {
            font-size: 24px;
            line-height: 30px;
        }
        .job_item_heading {
            border-top: 1px solid #00000057;
            border-bottom: 1px solid #00000057;
            .company {
                font-size: 16px; // 2px less than job's
            }
        }
        li  {
            font-size: 22px;
        }
    }

}


.list_skills { 
    text-align: right;
    padding-right: 10px;
    // width: 325px;
    p, li {
        margin: 0;
        font-size: 18px; 
        // direction: rtl;
        // list-style: initial;
        // list-style-position: inside;
    }
    ul, li {
        position: relative;
    }

    .title_big {
        margin: 14px 0;
        border-top: 2px solid var(--colorgold);
        border-bottom: 2px solid var(--colorgold);
    }

    .education {
        h3 {
            font-size: 27px;
        }
        p {
            // color: var(--colorgold);
            color: black;
            font-size: 19px;
        }
    }
    .sub_skill {
        position: relative;
        margin: 8px 0px;
    
        // page-break-after: avoid;
        // page-break-inside: avoid;
        
        color: #fefff9;
        background-color: #3f3f27cc;
        background-color: transparent;
        border-radius: 6px;
        margin-right: -3px;
        color: #2a2e33;
        color: black;
        // border: 1px solid;
        > * {
            padding-right: 10px;
        }
        

        // https://freefrontend.com/css-timelines/
        // https://codepen.io/brady_wright/pen/NNOvrW?editors=1100
        // https://codepen.io/nomisoft/pen/Lbmvxp/
        // https://codepen.io/NielsVoogt/pen/MbMMxv/
        // https://codepen.io/Devcrud/pen/XWboGgL

    }
}

.h_divider1 {
    border-bottom: 2px solid black;
    margin: 0 100px;
}
