<!DOCTYPE html>
<html lang="en">

<style>
  a {
    display: block;
  }
</style>
<body>
  <div>
    <h1> 
        Chris Brodski
    </h1>
    <div>
        <a href="/resume"> Resume </a>
    </div>
  </div>
</body>
</html>