<h2 class="code-line"><a id="Christopher_Brodski_0"></a>Christopher Brodski</h2>
<ul>
    <li class="has-line-data">Email: <a
            href="mailto:cbrodski@gmail.com">cbrodski@gmail.com</a></li>
    <li class="has-line-data">Location: Denver, CO</li>
    <li class="has-line-data">GitHub: <a
            href="https://github.com/Brodski">github.com/Brodski</a></li>
    <li class="has-line-data">Resume <em>(fancy)</em>: <a
            href="https://resume.bski.one">resume.bski.one</a></li>
</ul>
<hr>
<p class="has-line-data"><strong>EDUCATION</strong></p>
<ul>
    <li class="has-line-data">
        <p class="has-line-data"><strong>B.S. Computer Science</strong></p>
        <ul>
            <li class="has-line-data">Metropolitan State University of Denver
            </li>
        </ul>
    </li>
    <li class="has-line-data">
        <p class="has-line-data"><strong>B.S. Applied Mathematics</strong></p>
        <ul>
            <li class="has-line-data">University of Colorado Denver</li>
        </ul>
    </li>
</ul>

<hr>
<p class="has-line-data"><strong>CERTIFICATIONS</strong></p>
<ul>
    <li class="has-line-data">
        <p class="has-line-data"><strong>AWS Certified Cloud Practitioner</strong></p>
        <ul>
            <li class="has-line-data"> Acquired: July 2024
            </li>
        </ul>
    </li>
</ul>



<hr>
<p class="has-line-data"><strong>SKILLS</strong></p>
<ul>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Languages</strong></p>
        <ul>
            <li class="has-line-data">Java, JavaScript, Python, Kotlin, C#</li>
        </ul>
    </li>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Backend</strong></p>
        <ul>
            <li class="has-line-data">REST API, Java Servlets / Spring Boot,
                NodeJS / ExpressJS</li>
        </ul>
    </li>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Database / Storage</strong></p>
        <ul>
            <li class="has-line-data">S3, SQL, MongoDB</li>
        </ul>
    </li>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Frontend</strong></p>
        <ul>
            <li class="has-line-data"><strong>Client-Side:</strong> React, HTML
                / CSS / JavaScript, Browser Extensions</li>
            <li class="has-line-data"><strong>Server-Side:</strong> NodeJS, EJS,
                Java Server Pages (JSP)</li>
        </ul>
    </li>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Cloud Computing (AWS)</strong></p>
        <ul>
            <li class="has-line-data">S3, Lambda, API Gateway, CloudFront, Route
                53, IAM, CloudWatch, Elastic Beanstalk</li>
        </ul>
    </li>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Dev Ops</strong></p>
        <ul>
            <li class="has-line-data"><strong>Intermediate Skill:</strong>
                Docker, Terraform</li>
            <li class="has-line-data"><strong>Novice Skill:</strong>
                Microservices, Kubernetes, Jenkins</li>
        </ul>
    </li>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Linux Networking</strong></p>
        <ul>
            <li class="has-line-data">nslookup / dig, ifconfig, netstat,
                traceroute, curl, vim / awk / grep</li>
        </ul>
    </li>
</ul>
<hr>
<p class="has-line-data"><strong>WORK HISTORY</strong></p>
<ul>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Java Web Developer</strong>, Ping
            Identity<br>
            <em>Sept 2020 - June 2024</em>
        </p>
        <ul>
            <li class="has-line-data">Use Adobe’s content management system,
                AEM, to provide the structure for team members to quickly design, publish and modify web content on the
                company’s main website. Well-versed with the technologies for constructing and maintaining a robust,
                scalable web presence at: <a href="http://www.pingidentity.com">www.pingidentity.com</a>.</li>
            <li class="has-line-data">Cloud computing work: Independently built
                AWS Lambda Functions, AWS Api Gateways, CloudWatch services, and updated our Cloudfront CDN, along with
                an accompanying GitLab-CI pipeline, in an effort to migrate endpoints from our CMS to AWS. I held
                responsibility for the architecture, pipeline, IaC tool, and built it all from start to finish.</li>
            <li class="has-line-data">Wrote the Terraform configurations for the
                services and wrote the NodeJS code of the Lambda Functions for the migrated endpoint. There have not
                been any records of them failing since they were built. These endpoints are vital and cannot fail.</li>
            <li class="has-line-data">Backend work: built APIs using Java
                servlets for client-side and server-side rendering, ensuring seamless interaction and data exchange.
                Automated jobs for content crawling, edits, and general page maintenance. Experienced with thread
                management for asynchronous operations.</li>
            <li class="has-line-data">Frontend work: built web components for
                content and design teams, enabling static and dynamic page functionalities across the website. Advanced
                in JavaScript, HTML, and CSS.</li>
            <li class="has-line-data">Reworked the website that ultimately
                improved customer interaction by 61%.</li>
            <li class="has-line-data">Collaborate with designers, marketing,
                SEO, and content teams, ensuring alignment to meet and exceed business objectives.</li>
            <li class="has-line-data">Provided guidance and support to new
                employees and interns, facilitating their success, onboarding and integration into the organization.
            </li>
        </ul>
    </li>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Platform Infrastructure Integration /
                Automation Engineer</strong>, Charter Communications<br>
            <em>Dec 2018 - Oct 2019</em>
        </p>
        <ul>
            <li class="has-line-data">Part of a DevOps/SRE team, contributing to
                deployment processes and quality assurance.</li>
            <li class="has-line-data">Routinely accessed virtual machines (VMs)
                via SSH to execute and develop various scripts. Used command-line tools to navigate the internal file
                system of the VMs to locate log files, view, filter, and analyze logs for troubleshooting and
                performance monitoring.</li>
            <li class="has-line-data">Developed a Flask/Python-based proxy
                server to streamline traffic and facilitate data retrieval from a MongoDB database.</li>
            <li class="has-line-data">Wrote a Python-based testing tool for
                quality assurance on a DHCP server cluster, utilizing the hypervisor’s API for precise control over both
                worker and master virtual machines during stress testing.</li>
            <li class="has-line-data">Deployed docker apps, running Telegraf, to
                gather metrics from the VMs running the DHCP servers. It streamed data into our Splunk server for
                real-time data analysis. I also created a Splunk dashboard to visualize and examine the data.</li>
            <li class="has-line-data">Helped build a new test environment for an
                existing project in AWS by redeploying that project at a scaled-down cluster size. This involved
                researching company documents and working with the team that managed that project; editing configuration
                files like Terraform, then executing the deployment.</li>
        </ul>
    </li>
</ul>
<hr>
<p class="has-line-data"><strong>PROJECTS</strong></p>
<ul>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Brodski Minimalist Music Player With
                Swipe &amp; Touch</strong></p>
        <ul>
            <li class="has-line-data">Android Native app written in Kotlin. The
                app plays local files from the user’s phone, available on Google Play Store.</li>
            <li class="has-line-data">This app is unique to other apps because I
                masterfully implement gestures to create the perfect user experience.</li>
            <li class="has-line-data"><a
                    href="https://github.com/Brodski/MediaPlayer#overview">Github repo</a></li>
        </ul>
    </li>

    <li class="has-line-data">
        <p class="has-line-data"><strong>Transcriber app</strong></p>
        <ul>
            <li class="has-line-data">Transcribes about 100 hours of videos to
                text daily.</li>
            <li class="has-line-data">Uses <a
                    href="https://github.com/Vaibhavs10/insanely-fast-whisper"> Insanely Fast Whisper </a>, an ultra
                fast version of <a href="https://github.com/openai/whisper"> OpenAI's Whisper</a>.</li>
            <li class="has-line-data">Runs docker images daily in AWS. Primarily
                uses ECS, ECR, Lambda, the cheap GPU cloud provider vast.ai, and managed with Terraform. Written in
                Python and some NodeJS.</li>
            <li class="has-line-data"> <a
                    href="https://github.com/Brodski/scraper-dl-vids"> Github repo </a> </li>
        </ul>
    </li>

    <li class="has-line-data">
        <p class="has-line-data"><strong>Video Feed Organizer (VFO)</strong></p>
        <ul>
            <li class="has-line-data">Single-page web application that
                communicates to Youtube’s REST API for profile customization.</li>
            <li class="has-line-data">Frontend was built using React,
                Javascript, SASS and Materialize CSS framework.</li>
            <li class="has-line-data">Backend is a Java Springboot server and a
                MongoDB database.</li>
            <li class="has-line-data"><a
                    href="https://vfo.one">https://vfo.one</a></li>
        </ul>
    </li>
    <li class="has-line-data">
        <p class="has-line-data"><strong>Bski Control Video with Mouse</strong>
        </p>
        <ul>
            <li class="has-line-data">Browser extension for Firefox and Chrome
            </li>
            <li class="has-line-data">A fork from another extension that gives
                users more control over videos in the browser.</li>
            <li class="has-line-data"><a
                    href="https://addons.mozilla.org/en-US/firefox/addon/bski-control-video-with-mouse">Mozilla Addons
                    Link</a>
            </li>
        </ul>
    </li>
</ul>
<p class="has-line-data">For more projects, visit my GitHub: <a
        href="https://github.com/Brodski">https://github.com/Brodski</a>
</p>