<h2>Christopher Brodski</h2>
<h6>Adobe Experience Manager (AEM) Developer with 5 years of experience designing, developing, and implementing enterprise-level web applications.</h6>
<ul>
<li>Email: <a href="mailto:cbrodski@gmail.com">cbrodski@gmail.com</a></li>
<li>GitHub: <a href="https://github.com/Brodski">github.com/Brodski</a></li>
<li>LinkedIn: <a href="https://www.linkedin.com/in/christopher-brodski">linkedin.com/in/christopher-brodski</a></li>
</ul>
<hr>
<p><strong>EDUCATION</strong></p>
<ul>
<li><strong>B.S. Computer Science</strong><ul>
<li>Metropolitan State University of Denver</li>
</ul>
</li>
<li><strong>B.S. Applied Mathematics</strong><ul>
<li>University of Colorado Denver</li>
</ul>
</li>
<li><strong>AWS Certified Solutions Architect - Professional</strong>  <ul>
<li>Acquired: July 2025  </li>
<li>Credly badge <a href="https://www.credly.com/badges/6dca7d30-79c0-4e74-8396-35c2db85ffc9/public_url">https://www.credly.com/badges/6dca7d30-79c0-4e74-8396-35c2db85ffc9/public_url</a></li>
</ul>
</li>
<li><strong>AWS Certified Solutions Architect - Associate</strong>  <ul>
<li>Acquired: May 2069  </li>
<li>Credly badge <a href="https://www.credly.com/badges/183b2c05-0c7e-4afe-aa49-ca89468d239b/public_url">https://www.credly.com/badges/183b2c05-0c7e-4afe-aa49-ca89468d239b/public_url</a></li>
</ul>
</li>
<li><strong>AWS Certified Cloud Practitioner</strong><ul>
<li>Acquired: July 2024  </li>
<li>Credly badge <a href="https://www.credly.com/badges/6dca7d30-79c0-4e74-8396-35c2db85ffc9/public_url">https://www.credly.com/badges/6dca7d30-79c0-4e74-8396-35c2db85ffc9/public_url</a></li>
</ul>
</li>
</ul>
<hr>
<p><strong>SKILLS</strong></p>
<ul>
<li><strong>AEM</strong>: <ul>
<li>Sites, Assets, Workflows, Templates, Components, Dispatcher / Apache Server, AEM Cloud Manager, Rapid Dev Environments (RDE)</li>
</ul>
</li>
<li><strong>Languages</strong><ul>
<li><strong>Advanced:</strong> Java, Python, Javascript / NodeJS</li>
<li><strong>Highly Proficient:</strong> Kotlin, C#</li>
</ul>
</li>
<li><strong>Backend</strong><ul>
<li>REST API, Java Servlets / Spring Boot, NodeJS</li>
</ul>
</li>
<li><strong>Frontend</strong><ul>
<li><strong>Client-Side:</strong> React, HTML / CSS / JavaScript, Browser Extensions</li>
<li><strong>Server-Side:</strong> NodeJS, EJS, Java Server Pages (JSP)</li>
<li><strong>Dev-Tools:</strong> Gulp.js, Webpack, yarn, npm, SASS, ESLint, Bootstrap</li>
</ul>
</li>
<li><strong>Database / Storage</strong><ul>
<li>S3, SQL, MongoDB</li>
</ul>
</li>
<li><strong>Cloud Computing (AWS)</strong><ul>
<li>S3, Lambda, API Gateway, CloudFront, Route 53, IAM, CloudWatch, Elastic Beanstalk</li>
</ul>
</li>
<li><strong>Dev Ops</strong><ul>
<li><strong>Skilled:</strong> Docker, Terraform</li>
<li><strong>Experienced:</strong> Microservices, Kubernetes, Jenkins</li>
</ul>
</li>
<li><strong>Linux Networking</strong><ul>
<li>nslookup, dig, ifconfig, netstat, traceroute, curl, vim, awk, grep</li>
</ul>
</li>
</ul>
<hr>
<p><strong>WORK HISTORY</strong><br><strong>Senior Java Web Developer</strong>, at Ping Identity<br><em>Sept 2020 - June 2024</em></p>
<ul>
<li><strong>Overview:</strong> <ul>
<li>Build and maintain the company website - Ping Identity (<a href="http://www.pingidentity.com">www.pingidentity.com</a>)</li>
<li>Develop Adobe Experience Manager (AEM) components, templates, and backend services to support a scalable, high-performance web presence. Extend AEM capabilities by integrating AWS services like Lambda to enhance backend functionality.</li>
</ul>
</li>
<li><strong>AEM:</strong><ul>
<li>Contributed to the re-architecture of the AEM codebase, updating build files (Gulp &amp; Maven), refining templates, restructuring components entirely to be JSP-base, and how these components interact and reference each other.</li>
<li>Developed Groovy scripts for bulk content updates, automated cleanups, and debugging complex site-wide issues.</li>
<li>Managed Apache server configurations, implementing custom rewrite rules and advanced regex for request handling and performance optimization.</li>
<li>Extensively work with the Jackrabbit Content Repository (JCR) to store, retrieve, and manipulate structured content.</li>
<li>Well-versed in using CRXDE Lite for AEM development, including creating and editing JCR nodes, configuring component properties, and troubleshooting repository issues.</li>
<li>Programmatically access OSGi settings, and through the web console for debugging and/or during development.</li>
</ul>
</li>
<li><strong>Cloud infrastructure work:</strong><ul>
<li>Built endpoints critical to system functionality that operated without failure since deployment. Accomplished this by deploying AWS Lambda endpoints using Terraform and Node.js.</li>
<li>Migrated endpoints off of our current cloud service Adobe to AWS instead; designing and implementing the architecture, pipeline, and IaC tool from start to finish. Independently built AWS Lambda functions, API Gateways, and an accompanying GitLab CI/CD pipeline.</li>
<li>Dockerized applications for deployment in our cloud environments, Adobe and AWS.</li>
</ul>
</li>
<li><strong>Backend work:</strong> <ul>
<li>Built Java servlets to dynamically generate HTML pages and interact with databases via SQL, enabling seamless content rendering and data exchange. Developed automated jobs for content crawling, bulk edits, data validation, and system monitoring.</li>
<li>Wrote and designed services that used LLMs (via OpenAI&#39;s API) to personalize website content for users. Implemented request batching, response caching, and fallback handling to ensure efficient API usage and content reliability.</li>
<li>Experience with Java threading and asynchronous workflows (thread pools, futures). </li>
<li>Experience with Maven build configurations, including lifecycles, module dependency management, and debugging maven dependencies conflicts.</li>
</ul>
</li>
<li><strong>Frontend work:</strong> <ul>
<li>Developed modular, reusable UI components with React and JSP for enterprise applications, supporting dynamic content rendering, localization, and API-driven interactions.</li>
<li>Frequent updates to frontend development workflow by configuring CI/CD pipelines, automating testing, and optimizing builds with Webpack and Gulp.js.</li>
<li>Working knowledge of asset optimization, cache busting (CDN &amp; client-side), Google Tag Manager, preloading strategies, service workers, accessiblity, and performance profiling.</li>
</ul>
</li>
<li><strong>Soft skills</strong> Mentored new employees and interns, facilitating their success, providing technical guidance onboarding and integration into the organization.</li>
</ul>
<p><strong>Platform Infrastructure Integration / Automation Engineer</strong>, at Charter Communications
<em>Dec 2018 - Oct 2019</em></p>
<ul>
<li><strong>Overview:</strong><ul>
<li>Part of a DevOps/SRE team, contributing to deployment processes and quality assurance.</li>
</ul>
</li>
<li><strong>Job Duties:</strong><ul>
<li>Routinely accessed virtual machines (VMs) via SSH to execute and develop various scripts. Used command-line tools to navigate the internal file system of the VMs to locate log files, view, filter, and analyze logs for troubleshooting and performance monitoring.</li>
<li>Developed a Flask/Python-based proxy server to streamline traffic and facilitate data retrieval from a MongoDB database. Added frontend framework with React. </li>
<li>Wrote a Python-based testing tool for quality assurance on a DHCP server cluster, utilizing the hypervisor&#39;s API for precise control over both worker and master virtual machines during stress testing.</li>
<li>Deployed docker apps, running Telegraf, to gather metrics from the VMs running the DHCP servers. It streamed data into our Splunk server for real-time data analysis. I also created a Splunk dashboard to visualize and examine the data.</li>
<li>Helped build a new test environment for an existing project in AWS by redeploying that project at a scaled-down cluster size. This involved researching company documents and working with the team that managed that project; editing configuration files like Terraform, then executing the deployment.</li>
</ul>
</li>
</ul>
<hr>
<p><strong>Side Projects:</strong><br><a href="https://resume.bski.one/projects">https://resume.bski.one/projects</a></p>
