<h1>Projects</h1>
<h4>Youtube demos with light tech commentary</h4>
<hr>
<p><strong>Twitch Transcripts</strong>   </p>
<ul>
<li><em>2023 - present</em>  </li>
<li><em>A website for viewing Twitch.tv transcripts.</em><ul>
<li><a href="https://www.youtube.com/watch?v=ecj6ow8Bv8U">Demo</a> (1 min 16 sec)</li>
<li><a href="https://www.youtube.com/watch?v=kDabpaapKkk">Tech overview</a> (2 min 4 sec)</li>
</ul>
</li>
</ul>
<p><strong>Bski Radio Alarm</strong>   </p>
<ul>
<li><em>2025 - present</em>  </li>
<li><em>An alarm clock app that plays online radio streams. For Android.</em><ul>
<li><a href="https://www.youtube.com/watch?v=AgHbi2OrC0w">Demo</a> (27 sec)</li>
</ul>
</li>
</ul>
<p><strong>Mouse Control: Volume, Skip, &amp; Speed for Video</strong>   </p>
<ul>
<li><em>2021</em>  </li>
<li><em>A browser extension for controlling video playback using the mouse wheel.</em>  <ul>
<li><a href="https://www.youtube.com/watch?v=TakYP2HsdQM">Demo</a> (40 sec)</li>
</ul>
</li>
</ul>
<p><strong>Better Local File Viewer</strong>   </p>
<ul>
<li><em>2021</em>  </li>
<li><em>A browser extension with better UX for local files.</em>  <ul>
<li><a href="https://www.youtube.com/watch?v=4ZHyY8i9Su0">Demo</a> (44 sec)</li>
</ul>
</li>
</ul>
<p><strong>Bski Minimalist Music Player with Swipe &amp; Touch</strong>   </p>
<ul>
<li><em>2020</em>  </li>
<li><em>A music player with intuitive swipe and touch controls. For Android.</em><ul>
<li><a href="https://www.youtube.com/watch?v=TSrNrXm72yI">Demo</a> (32 sec)</li>
</ul>
</li>
</ul>
<p><strong>VFO - Video Feed Organizer</strong>   </p>
<ul>
<li><em>2019</em>  </li>
<li><em>A tool for organizing user&#39;s youtube subscriptions into a structured feed. React app.</em><ul>
<li><a href="https://www.youtube.com/watch?v=SewsruJ_au0">Demo</a> (58 sec)</li>
</ul>
</li>
</ul>
